PORT=8080

PAGE_CACHE_TIMEOUT=10
PAGE_TITLE="Raspberry Pi System Info"

METRICS_UPDATE_INTERVAL=30
METRICS_TTL=60

USAGE_NORMAL_COLOR="#00FF40"
USAGE_WARNING_COLOR="#FF8C00"
USAGE_CRITICAL_COLOR="#CC0000"

TEMPERATURE_NORMAL_COLOR="#00FF40"
TEMPERATURE_WARNING_COLOR="#FF8C00"
TEMPERATURE_CRITICAL_COLOR="#CC0000"

USAGE_WARNING_THRESHOLD=65
USAGE_CRITICAL_THRESHOLD=85

TEMPERATURE_WARNING_THRESHOLD=55
TEMPERATURE_CRITICAL_THRESHOLD=70

TEXT_DATE_FORMAT="%d-%b-%Y"
TEXT_TIME_FORMAT="%H : %M : %S"
TEXT_DATETIME_FORMAT="${TEXT_DATE_FORMAT}, ${TEXT_TIME_FORMAT}"

LOGS_PATH="logs"
LOG_LEVEL="DEBUG"
LOG_MSG_FORMAT="%(asctime)s : %(levelname)s : %(module)s : %(funcName)s : %(message)s"
LOG_DATETIME_FORMAT="%H:%M:%S"
LOG_FILENAME="rpi_system_info.log"
