body {
    background-color: #1a1a1a;
    line-height: 1.6;
    font-size: 1.1em;
    font-weight: 400;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
    color: #00ff40;
    max-width: 700px;
    padding: 20px 0px 0px 0px;
    position: relative;
    margin: 0 auto;
    box-sizing: border-box;   
}

.container:after, .row:after {
    content: "";
    display: table;
    clear: both;
}

.column, .columns {
    width: 100%;
    float: left;
    box-sizing: border-box;
}

  .half.column                      { width: 5%;}
  .one.column,
  .one.columns                    { width: 10%; }
  .two.columns                    { width: 20%; }
  .three.columns                  { width: 30%;            }
  .four.columns                   { width: 40%; }
  .five.columns                   { width: 50%; }
  .six.columns                    { width: 60%;            }
  .seven.columns                  { width: 70%; }
  .eight.columns                  { width: 80%; }
  .nine.columns                   { width: 90%;          }
  .ten.columns                    { width: 100%; margin-left: 0}

.title {
    color: #ff8c00;
    margin-top: 10px;
    letter-spacing: .05rem;
}

.logo {
    width: 75px;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 2rem;
    font-weight: 300;
}

h1 { font-size: 2.25rem; line-height: 1.2;  letter-spacing: -.1rem; margin-bottom: 2rem; }
h2 { font-size: 2.0rem; line-height: 1.25; letter-spacing: -.1rem; margin-bottom: 1.5rem; }
h3 { font-size: 1.75rem; line-height: 1.3;  letter-spacing: -.1rem; margin-bottom: 1rem; }
h4 { font-size: 1.5rem; line-height: 1.35; letter-spacing: -.08rem; margin-bottom: 0.5rem; }
h5 { font-size: 1.25rem; line-height: 1.5;  letter-spacing: -.05rem; margin-bottom: 0.25rem; }
h6 { font-size: 1.0rem; line-height: 1.6;  letter-spacing: 0; margin-bottom: 0.125rem; }

@media (min-width: 576px) {
  h1 { font-size: 2.5rem; }
  h2 { font-size: 2.25rem; }
  h3 { font-size: 2.0rem; }
  h4 { font-size: 1.75rem; }
  h5 { font-size: 1.5rem; }
  h6 { font-size: 1.25rem; }
}

p {
  margin-top: 0;
}

.item-count {
    color: white;
    font-size: 75%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

th, td {
    color: #00ff40;
    padding: 5px 3px;
    border-bottom: 1px solid #E1E1E1;
}

.tal {
    text-align: left;
}

.tac {
    text-align: center;
}

.tar {
    text-align: right;
}

th:first-child, td:first-child {
    padding-left: 0; 
}

th:last-child, td:last-child {
    padding-right: 0; 
}

.t-row {
    padding-top: 2px;
}

.t-row div:first-child {
    font-weight: 700;
}

.t-header {
    padding-top: 13px;
    border-bottom: 1px solid #eee;
    color: #ffd700;
    letter-spacing: .00rem;
}

.t-header h5 {
    letter-spacing: .05rem;
    transition: font-weight 0.3s ease;
}

.t-header h5:hover {
    font-weight: 700;
}

.t-header-img {
    float:left;
    margin-right: 10px;
}

.t-header-img img {
    width: 32px;
    height: 32px;
}

table.sortable thead {
    font-weight: 700;
    cursor: pointer;
}

table.sortable th:hover {
    color: #ffd700;
}

table.sortable tr:hover td{
    color: white !important;
}

.system-action-flashes {
    margin-top: 50px;
    padding: 25px;
    border: 1px solid #ffd700;
    border-radius: 4px;
}

.system-action-flashes li:first-child {
    color: #ffd700 !important;
    font-weight: 700 !important;
}

.system-action-flashes li:last-child {
    margin-bottom: 0px !important;
}

.alert {
    list-style-type: none;
    margin-bottom: 25px;
}

.alert-info {
    color: #00ff40;
}


.toggle-header {
    cursor: pointer;
    user-select: none;
    position: relative;
    padding-right: 30px;
    display: flex;
    align-items: center;
}

.toggle-header::after {
    content: "▼";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.8em;
}

.toggle-header.collapsed::after {
    content: "▶";
}

.toggle-content {
    transition: all 0.3s ease;
    overflow: hidden;
}

.toggle-content.collapsed {
    max-height: 0 !important;
    opacity: 0;
    margin: 0;
    padding: 0;
    border: 0;
}


.tabs {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.tab-button {
    padding: 5px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #ffd700;
    border-radius: 4px;
    margin-bottom: 5px;
    font-weight: 700;
    color: white;
}

.tab-button:last-child {
    margin-bottom: 0;
}


@media (min-width: 576px) {
    .tabs {
        flex-direction: row;
        justify-content: space-between;
    }
    
    .tab-button {
        flex: 1;
        margin-right: 5px;
        margin-bottom: 0;
    }
}


.tab-button:hover {
    border-color: #ff8c00;
    letter-spacing: .05rem;

}

.tab-button:last-child {
    margin-right: 0;
}

.tab-button.active {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.tab-content input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.error-code {
    font-size: 6.0rem;
    color: #ff8c00;
    text-align: center;
}
.error-message {
    font-size: 3.0rem;
    color: #00ff40;
    text-align: center;
}
.redirect-message {
    font-size: 2.0rem;
    color: #00ff40;
    text-align: center;
}
.redirect-message a {
    text-decoration: none;
    color: #ffd700
}
.redirect-message #countdown {
    font-weight: 700;
}
