<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ action }} in progress</title>
        <link rel="icon" type="image/png" href="static/images/favicon.png">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="System information of Raspberry Pi">
        <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <a href="{{index_url}}">
                    <div class="two columns">
                        <img class="logo" src="static/images/rpi_logo_128.png">
                    </div>
                    <div class="nine columns">
                        <h3 class="title">{{title}}</h3>
                    </div>
                </a>
            </div>
            <div class="row">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <ul class="system-action-flashes">
                            {% for category, message in messages %}
                                <li class="alert alert-{{ category }}">{{ message|safe }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
            </div>
        </div>
    </body>
</html>
