<div class="row t-header toggle-header">
    <div class="t-header-img">
        <img src="static/images/rpi_logo_32.png">
    </div>
    <div>
        <h5>Board Info</h5>
    </div>
</div>
<div class="toggle-content">
    <div class="row t-row">
        <div class="four columns">
            Host Name
        </div>
        <div class="six columns">
            {{board_info.hostname}}
        </div>
     </div>
    <div class="row t-row">
        <div class="four columns">
            Operating System
        </div>
        <div class="six columns">
            {{board_info.os}}
        </div>
    </div>
     <div class="row t-row">
        <div class="four columns">
            System Time
        </div>
        <div class="six columns">
            {{board_info.system_time}}
        </div>
    </div>
    <div class="row t-row">
        <div class="four columns">
            Started on
        </div>
        <div class="six columns">
            {{board_info.boot_time}}
        </div>
    </div>
    <div class="row t-row">
        <div class="four columns">
            Uptime
        </div>
        <div class="six columns">
            {{board_info.uptime_pretty}}
        </div>
    </div>
    <div class="row t-row">
        <div class="four columns">
            Model
        </div>
        <div class="six columns">
            {{board_info.model_name}}
        </div>
    </div>
    <div class="row t-row">
        <div class="four columns">
            Revision
        </div>
        <div class="six columns">
            {{board_info.revision}}
        </div>
    </div>
    <div class="row t-row">
        <div class="four columns">
            Manufacturer
        </div>
        <div class="six columns">
            {{board_info.manufacturer}}
        </div>
    </div>
    <div class="row t-row">
        <div class="four columns">
            Serial Number
        </div>
        <div class="six columns">
            {{board_info.serial_number}}
        </div>
    </div>    
</div>
<div class="row t-header toggle-header">
    <div class="t-header-img">
        <img src="static/images/key_metrics.png">
    </div>
    <div>
        <h5>Key Metrics</h5>
    </div>
</div>
<div class="toggle-content">
    <div class="row t-row">
        <div class="four columns">
            CPU Usage
        </div>
        <div class="six columns">
            {{cpu_info.usage}} %
        </div>
    </div>  
     <div class="row t-row">
        <div class="four columns">
            CPU Temperature
        </div>
        <div class="six columns" style="color:{{cpu_info.temperature_color}}">
            {{cpu_info.temperature_value}} &#176;C
        </div>
    </div>
    <div class="row t-row">
        <div class="four columns">
            CPU Core Frequency
        </div>
        <div class="six columns">
            {{cpu_info.cur_core_frequency}} MHz
        </div>
    </div>
    <div class="row t-row">
        <div class="four columns">
            Total RAM
        </div>
        <div class="six columns t-row">
            {{ram_info.total}} MB
        </div>
    </div>
    <div class="row t-row">
        <div class="four columns">
            Available RAM
        </div>
        <div class="six columns">
            {{ram_info.available}} MB
        </div>
    </div>
     <div class="row t-row">
        <div class="four columns">
            Eth0 IP address
        </div>
        <div class="six columns t-row">
        {% if eth0_info.state == 'UP' %}
            {{eth0_info.ip}}
        {% else %}
            Not connected
        {% endif %}
        </div>
    </div>
    <div class="row t-row">
        <div class="four columns">
            Wlan0 IP address
        </div>
        <div class="six columns t-row">
        {% if wlan0_info.state == 'UP' %}
            {{wlan0_info.ip}}
        {% else %}
            Not connected
        {% endif %}
        </div>
    </div>
    <div class="row t-row">
        <div class="four columns">
            Internet Connection
        </div>
        <div class="six columns">
        {% if board_info.internet_connection_status %}
            Active
        {% else %}
            Not active
        {% endif %}
        </div>
    </div>
    {% if board_info.internet_connection_status %}
    <div class="row t-row">
        <div class="four columns">
            Public IP Address
        </div>
        <div class="six columns">
            {{ board_info.public_ip}}
        </div>
    </div>
    {% endif %}
</div>
