 <div class="row t-header toggle-header">
    <div class="t-header-img">
        <img src="static/images/ethernet_adapter.png">
    </div>
    <div>
        <h5>Ethernet Adapter Info (eth0 interface)</h5>
    </div>
</div>
<div class="toggle-content">
    <div class="row t-row">
        <div class="four columns">
            MAC address
        </div>
        <div class="six columns">
        {% if eth0_info.mac %}
            {{eth0_info.mac}}
        {% else %}
            Unknown
        {% endif %}
        </div>
    </div>
    <div class="row t-row">
        <div class="four columns">
            IP address
        </div>
        <div class="six columns t-row">
        {% if eth0_info.state == 'UP' %}
            {{eth0_info.ip}}
        {% else %}
            Not connected
        {% endif %}
        </div>
    </div>
    <div class="row t-row">
        <div class="four columns">
            Default gateway
        </div>
        <div class="six columns t-row">
        {% if eth0_info.state == 'UP' %}
            {{eth0_info.gateway}}
        {% else %}
            Not connected
        {% endif %}
        </div>
    </div>
    <div class="row t-row">
        <div class="four columns">
            Network mask
        </div>
        <div class="six columns t-row">
        {% if eth0_info.state == 'UP' %}
            {{eth0_info.mask}}
        {% else %}
            Not connected
        {% endif %}
        </div>
    </div>
    <div class="row t-row">
        <div class="four columns">
            Broadcast IP address
        </div>
        <div class="six columns t-row">
        {% if eth0_info.state == 'UP' %}
            {{eth0_info.broadcast}}
        {% else %}
            Not connected
        {% endif %}
        </div>
    </div>
</div>
<div class="row t-header toggle-header">
    <div class="t-header-img">
        <img src="static/images/wifi_adapter.png">
    </div>
    <div>
        <h5>Wi-Fi Adapter Info (wlan0 interface)</h5>
    </div>
</div>
<div class="toggle-content">
    <div class="row t-row">
        <div class="four columns">
            MAC address
        </div>
        <div class="six columns">
        {% if wlan0_info.mac %}
            {{wlan0_info.mac}}
        {% else %}
            Unknown
        {% endif %}
        </div>
    </div>
    <div class="row t-row">
        <div class="four columns">
            Wi-Fi network
        </div>
        <div class="six columns t-row">
        {% if wifi_network_name %}
            {{wifi_network_name}}
        {% else %}
            Not connected
        {% endif %}
        </div>
    </div>
    <div class="row t-row">
        <div class="four columns">
            IP address
        </div>
        <div class="six columns t-row">
        {% if wlan0_info.state == 'UP' %}
            {{wlan0_info.ip}}
        {% else %}
            Not connected
        {% endif %}
        </div>
    </div>
    <div class="row t-row">
        <div class="four columns">
            Default gateway
        </div>
        <div class="six columns t-row">
        {% if wlan0_info.state == 'UP' %}
            {{wlan0_info.gateway}}
        {% else %}
            Not connected
        {% endif %}
        </div>
    </div>
    <div class="row t-row">
        <div class="four columns">
            Network mask
        </div>
        <div class="six columns t-row">
        {% if wlan0_info.state == 'UP' %}
            {{wlan0_info.mask}}
        {% else %}
            Not connected
        {% endif %}
        </div>
    </div>
    <div class="row t-row">
        <div class="four columns">
            Broadcast IP address
        </div>
        <div class="six columns t-row">
        {% if wlan0_info.state == 'UP' %}
            {{wlan0_info.broadcast}}
        {% else %}
            Not connected
        {% endif %}
        </div>
    </div>
</div>
{% if wlan0_info.state != 'DOWN' %}
<div class="row t-header toggle-header collapsed">
    <div class="t-header-img">
        <img src="static/images/wifi.png">
    </div>
    <div>
        <h5>Available Wi-Fi Networks <span class="item-count"> ( total {{ available_wifi_networks | length}} ) </span></h5>
    </div>
</div>
<div class="toggle-content collapsed">
    <div>
        <table class="u-full-width sortable">
            <thead>
                <tr>
                    <th class="tal">SSID</th>
                    <th class="tac">Channel</th>
                    <th class="tac">Rate</th>
                    <th class="tac">Signal%</th>
                    <th class="tac">Bars</th>
                    <th class="tac">Security</th>
                </tr>
            </thead>
            <tbody>
                {% for wifi_network in available_wifi_networks %}
                <tr>
                    <td class="tal">{{wifi_network.ssid}}</td>
                    <td class="tac">{{wifi_network.channel}}</td>
                    <td class="tac">{{wifi_network.rate}}</td>
                    <td class="tac">{{wifi_network.signal}}</td>
                    <td class="tac">{{wifi_network.bars}}</td>
                    <td class="tac">{{wifi_network.security}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}
<div class="row t-header toggle-header collapsed">
    <div class="t-header-img">
        <img src="static/images/bluetooth.png">
    </div>
    <div>
        <h5>Bluetooth Info (hci0 interface)</h5>
    </div>
</div>
<div class="toggle-content collapsed">
    <div class="row t-row">
        <div class="four columns t-caption">
            MAC address
        </div>
        <div class="six columns">
        {% if bluetooth_mac_address %}
            {{bluetooth_mac_address}}
        {% else %}
            Unknown
        {% endif %}
        </div>
    </div>
</div>
