<div class="row t-header toggle-header">
    <div class="t-header-img">
        <img src="static/images/storage.png" style="width:32px">
    </div>
    <div>
        <h5>Disks Usage Details<span class="item-count"> ( total {{ disks_details | length }} ) </span></h5>
    </div>
</div>
<div class="toggle-content">
    <table class="u-full-width sortable">
        <thead>
            <tr>
                <th class="tal">File System</th>
                <th class="tac">Size</th>
                <th class="tac">Used</th>
                <th class="tac">Available</th>
                <th class="tac">Used%</th>
                <th class="tal">Mounted On</th>
            </tr>
        </thead>
        <tbody>
            {% for disk in disks_details %}
            <tr>
                <td class="tal">{{disk.filesystem}}</td>
                <td class="tac">{{disk.size}}</td>
                <td class="tac">{{disk.used}}</td>
                <td class="tac">{{disk.available}}</td>
                <td class="tac">{{disk.use_percent}}</td>
                <td class="tal">{{disk.mounted_on}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="row t-header toggle-header">
    <div class="t-header-img">
        <img src="static/images/sd_card.png">
    </div>
    <div>
        <h5>SD Card Details</h5>
    </div>
</div>
<div class="toggle-content">
    <div class="row t-row">
        <div class="four columns">
            Device
        </div>
        <div class="six columns">
            {{sd_card_details.device}}
        </div>
    </div>
    <div class="row t-row">
        <div class="four columns">
            Type
        </div>
        <div class="six columns">
            {{sd_card_details.type}}
        </div>
    </div>
    <div class="row t-row">
        <div class="four columns">
            Name
        </div>
        <div class="six columns">
            {{sd_card_details.name}}
        </div>
    </div>
    <div class="row t-row">
        <div class="four columns">
            OEM/Application Id (OID)
        </div>
        <div class="six columns">
            {{sd_card_details.oemid}}
        </div>
    </div>
    <div class="row t-row">
        <div class="four columns">
            Serial Number
        </div>
        <div class="six columns">
            {{sd_card_details.serial_number}}
        </div>
    </div>
    <div class="row t-row">
        <div class="four columns">
            Manufacturer Id
        </div>
        <div class="six columns">
            {{sd_card_details.manufacturer_id}}
        </div>
    </div>
    <div class="row t-row">
        <div class="four columns">
            Date of Manufactured
        </div>
        <div class="six columns">
            {{sd_card_details.manufactured_date}}
        </div>
    </div>
    <div class="row t-row">
        <div class="four columns">
            Logical Block Size
        </div>
        <div class="six columns">
            {{sd_card_details.logical_block_size}}
        </div>
    </div>
    <div class="row t-row">
        <div class="four columns">
            Physical Block Size
        </div>
        <div class="six columns">
            {{sd_card_details.physical_block_size}}
        </div>
    </div>
    <div class="row t-row">
        <div class="four columns">
            Hardware Revision
        </div>
        <div class="six columns">
            {{sd_card_details.hardware_revision}}
        </div>
    </div>
    <div class="row t-row">
        <div class="four columns">
            Firmware Revision
        </div>
        <div class="six columns">
            {{sd_card_details.firmware_revision}}
        </div>
    </div>
    <div class="row t-row">
        <div class="four columns">
            CID Register
        </div>
        <div class="six columns">
            {{sd_card_details.cid_register}}
        </div>
    </div>
    <div class="row t-row">
        <div class="four columns">
            CSD Register
        </div>
        <div class="six columns">
            {{sd_card_details.csd_register}}
        </div>
    </div>
    <div class="row t-row">
        <div class="four columns">
            DSR Register
        </div>
        <div class="six columns">
            {{sd_card_details.dsr_register}}
        </div>
    </div>
    <div class="row t-row">
        <div class="four columns">
            SCR Register
        </div>
        <div class="six columns">
            {{sd_card_details.scr_register}}
        </div>
    </div>                    
    <div class="row t-row">
        <div class="four columns">
            OCR Register
        </div>
        <div class="six columns">
            {{sd_card_details.ocr_register}}
        </div>
    </div>                    
</div>

<div class="row t-header toggle-header">
    <div class="t-header-img">
        <img src="static/images/inodes.png" style="width:32px">
    </div>
    <div>
        <h5>Disks Inodes Details<span class="item-count"> ( total {{ disks_inodes_details | length }} ) </span></h5>
    </div>
</div>
<div class="toggle-content">
    <table class="u-full-width sortable">
        <thead>
            <tr>
                <th class="tal">File System</th>
                <th class="tac">Inodes</th>
                <th class="tac">Used</th>
                <th class="tac">Free</th>
                <th class="tac">Used%</th>
                <th class="tal">Mounted On</th>
            </tr>
        </thead>
        <tbody>
            {% for disk in disks_inodes_details %}
            <tr>
                <td class="tal">{{disk.filesystem}}</td>
                <td class="tac">{{disk.inodes}}</td>
                <td class="tac">{{disk.used}}</td>
                <td class="tac">{{disk.free}}</td>
                <td class="tac">{{disk.use_percent}}</td>
                <td class="tal">{{disk.mounted_on}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
